<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>

    <title>user register</title>
</head>
<body>

<div>
    <form th:action="@{/user/register}" method="POST">
    <fieldset>
    <legend>user register</legend>
    <table>
        <tbody>
        <tr>
            <td>ID</td>
            <td><input name="id" type="text" th:value="${user} ? ${user.id} : ''" /></td>
        </tr>
        <tr>
            <td>NAME</td>
            <td><input name="name" type="text" th:value="${user} ? ${user.name} : ''" /></td>
        </tr>
        <tr>
            <td>AGE</td>
            <td><input name="age" type="text" th:value="${user} ? ${user.age} : ''" /></td>
        </tr>
        <tr>
            <td>BIRTH</td>
            <td><input name="id" type="text" th:value="${user} ? ${user.birth} : ''" /></td>
        </tr>
        </tbody>
    </table>
    </fieldset>
    <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>
