<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <!--[if lte IE 8]><script src="../../resources/css/ie/html5shiv.js"></script><![endif]-->

        <script type="text/javascript" src="../../resources/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../../resources/js/jquery.dropotron.min.js" th:src="@{/js/jquery.dropotron.min.js}"></script>
        <script type="text/javascript" src="../../resources/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
        <script type="text/javascript" src="../../resources/js/skel-layers.min.js" th:src="@{/js/skel-layers.min.js}"></script>
        <script type="text/javascript" src="../../resources/js/jquery.uploadify.min.js" th:src="@{/js/jquery.uploadify.min.js}"></script>
        <script type="text/javascript" src="../../resources/js/jquery.flexslider-min.js" th:src="@{/js/jquery.flexslider-min.js}"></script>

        <script type="text/javascript" src="../../resources/js/init.js" th:src="@{/js/init.js}"></script>

        <link rel="stylesheet" href="../../resources/css/uploadify.css" th:href="@{/css/uploadify.css}"/>
        <link rel="stylesheet" href="../../resources/css/flexslider.css" th:href="@{/css/flexslider.css}" media="screen"/>

        <noscript>
            <link rel="stylesheet" href="../../resources/css/skel.css" th:href="@{/css/skel.css}"/>
            <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>
            <link rel="stylesheet" href="../../resources/css/style-wide.css" th:href="@{/css/style-wide.css}"/>
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="../../resources/css/ie/v8.css" /><![endif]-->

        <title th:text="#{label.title.user.register}">user register</title>
    </head>
    <body>
        <!-- Wrapper -->
            <div class="wrapper style1">

                <!-- Header -->
                    <div id="header" class="skel-panels-fixed">
                        <div id="logo">
                            <h1><a href="index.html">Phase Shift</a></h1>
                            <span class="tag">by TEMPLATED</span>
                        </div>
                        <nav id="nav">
                            <ul>
                                <li class="active"><a href="index.html">Homepage</a></li>
                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="no-sidebar.html">No Sidebar</a></li>
                            </ul>
                        </nav>
                    </div>

                <!-- Banner -->
                    <div id="banner" class="container">
                        <section>
                            <p>This is <strong>Phase Shift</strong>, a responsive HTML5 site template freebie. Released for free under the Creative Commons Attribution license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at or follow us on.</p>
                            <a href="#" class="button medium">Read More</a>
                        </section>
                    </div>

                <!-- Extra -->
                    <div id="extra">
                        <div class="container">
                            <div class="row no-collapse-1">
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic01.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic02.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic03.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                            </div>
                            <div class="row no-collapse-1">
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic01.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic02.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                                <section class="4u"> <a href="#" class="image featured"><img th:src="@{/images/pic03.jpg}" alt=""/></a>
                                    <div class="box">
                                        <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                        <a href="#" class="button">Read More</a> </div>
                                </section>
                            </div>
                            <div class="row no-collapse-1">
                                <section class="slider 12u">
                                    <div class="flexslider carousel">
                                        <ul class="slides">
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic01.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic02.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic03.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic01.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic02.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                <a href="#" class="image featured"><img th:src="@{/images/pic03.jpg}" alt=""/></a>
                                                <div class="box"><p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
                                                <a href="#" class="button">Read More</a> </div>
                                                </div>
                                            </li>
                                      </ul>
                                    </div>
                                </section>
                                <script type="text/javascript">
                                      $('.flexslider').flexslider({
                                        animation: "slide",
                                        animationLoop: true,
                                        slideshow: true,
                                        directionNav: true,
                                        controlNav: true,
                                        keyboardNav: true,
                                        mousewheel: true,
                                        itemWidth: 320,
                                        itemMargin: 15,
                                        prevText: "Previous",
                                        nextText: "Next"
                                      });
                                </script>
                            </div>
                        </div>
                    </div>

                <!-- Main -->
                    <div id="main">
                        <div class="container">
                            <div class="row">

                                <!-- Content -->
                                <div class="6u">
                                    <section>
                                        <ul class="style">
                                            <li class="fa fa-wrench">
                                                <h3>Integer ultrices</h3>
                                                <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
                                            <li class="fa fa-leaf">
                                                <h3>Aliquam luctus</h3>
                                                <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="6u">
                                    <section>
                                        <ul class="style">
                                            <li class="fa fa-cogs">
                                                <h3>Integer ultrices</h3>
                                                <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
                                            <li class="fa fa-road">
                                                <h3>Aliquam luctus</h3>
                                                <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

    </div>

    <!-- Footer -->
        <div id="footer" class="wrapper style2">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>Mauris vulputate dolor</h2>
                        <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
                    </header>
                    <form method="post" action="#">
                        <div class="row half">
                            <div class="12u">
                                <input class="text" type="text" name="name" id="name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <input class="text" type="text" name="email" id="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <ul class="actions">
                                    <li>
                                        <input type="submit" value="Send Message" class="button alt" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="copyright">
                    <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    <ul class="icons">
                        <li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                        <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                        <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
                    </ul>
                </div>
            </div>
        </div>







<div>
    <!-- <div th:errors="${user.*}"></div> -->

    <form th:object="${user}" th:action="@{/user/register}" enctype="multipart/form-data" method="post">

    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <ul th:if="${#fields.hasErrors('global')}">
      <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <fieldset>
    <legend th:text="#{label.title.user.register}">user register</legend>

        <div class="row half">
            <div class="12u">
                <span th:text="#{label.field.user.id}">ID</span>
                <input name="id" type="text" th:field="*{id}" /><div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Incorrect input</div>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <span th:text="#{label.field.user.name}">NAME</span>
                <input name="id" type="text" th:field="*{name}" /><div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect input</div>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <span th:text="#{label.field.user.age}">AGE</span>
                <input name="id" type="text" th:field="*{age}" /><div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Incorrect input</div>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <span th:text="#{label.field.user.birth}">BIRTH</span>
                <input name="id" type="text" th:field="*{birth}" /><div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect input</div>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <span>FILE</span>
                <input id="file_upload" name="file" type="file" th:field="*{file}" multiple="multiple" /><div th:if="${#fields.hasErrors('file')}" th:errors="*{file}">Incorrect input</div>
                <ul class="actions">
                    <li><a href="javascript:$('#file_upload').uploadify('upload', '*')" class="button medium">上传文件</a></li>
                    <li><a href="javascript:$('#file_upload').uploadify('stop')" class="button medium">停止上传</a></li>
                </ul>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <ul class="actions">
                    <li>
                        <input type="submit" th:value="#{label.button.insert}" value="Submit" class="button alt" />
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    </form>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(function() {
            $('#file_upload').uploadify({
                'buttonText'    : '请选择',
                'swf'           : /*[[@{/images/uploadify.swf}]]*/'../../resources/images/uploadify.swf',
                'cancelImg'     : /*[[@{/images/uploadify-cancel.png}]]*/'',
                'uploader'      : /*[[@{/user/register}]]*/'',
                'fileSizeLimit' : '0',
                'fileTypeExts'  : '*.gif; *.jpeg; *.jpg; *.png',
                'auto'          : false,
                'multi'         : true,
                'fileObjName'   : 'file',
                'onUploadSuccess' : function(file, data, response) {
                    alert( file.name + ' 上传成功！ ');
                }
            });
        });
    /*]]>*/
    </script>
</div>
<div th:include="footer :: copy"></div>
    </body>
</html>
