<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>

    <script type="text/javascript" src="../../../resources/javascript/jquery-1.11.1.min.js" th:src="@{/javascript/jquery-1.11.1.min.js}"></script>
    <title th:text="#{label.title.user.register}">user register</title>
</head>
<body>

<div>
    <!-- <div th:errors="${user.*}"></div> -->

    <form th:object="${user}" th:action="@{/user/register}" method="POST">

    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <ul th:if="${#fields.hasErrors('global')}">
      <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <fieldset>
    <legend th:text="#{label.title.user.register}">user register</legend>
    <table>
        <tbody>
        <tr>
            <td th:text="#{label.field.user.id}">ID</td>
            <td><input name="id" type="text" th:field="*{id}" /><div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Incorrect input</div></td>
        </tr>
        <tr>
            <td th:text="#{label.field.user.name}">NAME</td>
            <td><input name="name" type="text" th:field="*{name}" /><div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect input</div></td>
        </tr>
        <tr>
            <td th:text="#{label.field.user.age}">AGE</td>
            <td><input name="age" type="text" th:field="*{age}" /><div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Incorrect input</div></td>
        </tr>
        <tr>
            <td th:text="#{label.field.user.birth}">BIRTH</td>
            <td><input name="birth" type="text" th:field="*{birth}" /><div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect input</div></td>
        </tr>
        </tbody>
    </table>
    </fieldset>
    <input type="submit" th:value="#{label.button.insert}" value="Submit" />
    </form>
</div>
</body>
</html>
