<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>

    <title th:text="#{label.title.user.list}">user list</title>
</head>
<body>

<div>
   <table>
       <thead>
       <tr>
           <th th:text="#{label.field.user.id}">ID</th>
           <th th:text="#{label.field.user.name}">NAME</th>
           <th th:text="#{label.field.user.age}">AGE</th>
           <th th:text="#{label.field.user.birth}">BIRTH</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="item, status: ${users}">
           <td th:text="${item.id}">01</td>
           <td th:text="${item.name}">name01</td>
           <td th:text="${item.age}">13</td>
           <td th:text="${item.birth}">1991/06/09</td>
       </tr>
       </tbody>
   </table>
</div>
<div th:include="footer :: copy"></div>
</body>
</html>
